<main class="ml-6 mr-6 md:grid grid-cols-2 gap-8">

<% for (let index = 0; index < ejsResponse.length; index++) { %>

    <div class="border-2 border-gray-500 rounded" style="display: block;">
        <h2 id="<%= index + 1 %>" class="raleway py-2 pl-4 text-3xl
            <% if (savedUserResponse[index] && savedUserResponse) { %>
                text-green-500
            <% } else if (!savedUserResponse[index] && savedUserResponse) { %>
                text-red-500
            <% } else { %>
                border-blue-<%=(((index % 2) + 1) * 300) + 200%> text-teal-<%=(((index % 2) + 1) * 300) + 200%>
            <% } %>
            ">Question <%= index + 1 %></h2>

            <p class="w-auto text-xl raleway text-lg text-gray-800 p-4 >
                <% if (savedUserResponse[index] && savedUserResponse) { %>
                    bg-green-400
                <% } else if (!savedUserResponse[index] && savedUserResponse) { %>
                    bg-red-400
                <% } else { %>
                    border-blue-<%=(((index % 2) + 1) * 300) + 200%> bg-blue-<%=(((index % 2) + 1) * 200) + 100%>
                <% } %>"> <%= ejsResponse[index].question %> </p>
        

        <!-- Allow only 1 Radio Button to be Checked = https://stackoverflow.com/questions/5419459/how-to-allow-only-one-radio-button-to-be-checked#:~:text=Only%201%20radio%20button%20of,same%20name%20can%20be%20checked.&text=Give%20them%20the%20same%20name%2C%20and%20it%20will%20work.,check%20boxes%20can%20have%20many.&text=Just%20give%20them%20the%20same%20name%20throughout%20the%20form%20you%20are%20using. -->
        <% if (ejsResponse[index].questionType === 'boolean') { %>

        <!-- Use order alongside EJS partials to change the order of flexbox. Maximum Tailwind Order classes are 12. -->
        <div class="flex flex-column bg-white">
            <div class="m-2 order-2">
                
                <input class="ml-2" <% if (savedUserResponse[index] === ejsResponse[index].correctAnswer) { %> checked <% } %> type="radio" value="<%= ejsResponse[index].correctAnswer %>" name= <%= index %> ></input>
                <label class="text-lg roboto-condensed ml-2" for="<%= ejsResponse[index].correctAnswer %>"><%= ejsResponse[index].correctAnswer %></label>
            </div>
            <div class="m-2 <% if (ejsResponse[index].incorrectAnswers[0] === 'False') { %>
                order-last
                <% } else { %>
                order-first
                <% } %>">
                
                <input class="ml-2" <% if (savedUserResponse[index] === ejsResponse[index].incorrectAnswers[0]) { %> checked <% } %> type="radio" value="<%= ejsResponse[index].incorrectAnswers[0] %>" name="<%= index %>"></input>
                <label class="text-lg roboto-condensed ml-2"  for="<%= ejsResponse[index].incorrectAnswers[0] %>"><%= ejsResponse[index].incorrectAnswers[0] %></label>
            </div>
        </div>

        <% } else { %>


        <section class="relative bottom-0 grid grid-rows-4 bg-white">
            <div class="m-2 border-opacity-75 border-green-200 order-<%= Math.floor(Math.random()*12) + 1; %>">
                
                <input class="ml-2" <% if (savedUserResponse[index] === ejsResponse[index].correctAnswer) { %> checked <% } %> type="radio" value="<%= ejsResponse[index].correctAnswer %>" name= <%= index %> ></input>
                <label class="text-lg roboto-condensed ml-2" for="<%= ejsResponse[index].correctAnswer %>"><%= ejsResponse[index].correctAnswer %></label>
            </div> 
            <div class="m-2 order-<%= Math.floor(Math.random()*12) + 1; %>">         
                
                <input class="ml-2" <% if (savedUserResponse[index] === ejsResponse[index].incorrectAnswers[0]) { %> checked <% } %> type="radio" value="<%= ejsResponse[index].incorrectAnswers[0] %>" name= "<%= index %>"></input>
                <label class="text-lg roboto-condensed ml-2"  for="<%= ejsResponse[index].incorrectAnswers[0] %>"><%= ejsResponse[index].incorrectAnswers[0] %></label>
            </div> 
            <div class="m-2 order-<%= Math.floor(Math.random()*12) + 1; %>">
                
                <input class="ml-2" <% if (savedUserResponse[index] === ejsResponse[index].incorrectAnswers[1]) { %> checked <% } %> type="radio" value="<%= ejsResponse[index].incorrectAnswers[1] %>" name= "<%= index %>"></input>
                <label class="text-lg roboto-condensed ml-2"  for="<%= ejsResponse[index].incorrectAnswers[1] %>"><%= ejsResponse[index].incorrectAnswers[1] %></label>
            </div> 
            <div class="m-2 order-<%= Math.floor(Math.random()*12) + 1; %>">
                
                <input class="ml-2"<% if (savedUserResponse[index] === ejsResponse[index].incorrectAnswers[2]) { %> checked <% } %> type="radio" value="<%= ejsResponse[index].incorrectAnswers[2] %>" name= "<%= index %>"></input>
                <label class="text-lg roboto-condensed ml-2"  for="<%= ejsResponse[index].incorrectAnswers[2] %>"><%= ejsResponse[index].incorrectAnswers[2] %></label>
            </div> 
        </section>

        <% } %>

    </div>

<% } %>

</main>