<%- include('partials/header'); -%>

<!-- HTML Pseudocode -->

<!-- <h1 class="montserrat text-center py-8 text-green-700 text-4xl">Quiz Pro Quo</h1> -->

<!-- https://www.shapedivider.app/ -->


<section class="bg-blue-200">
    <div class="flex content-center bg-top">
        <img class="logo-image py-4" src="images/quiz!-via-logohub.png" alt="Quiz Pro Quo">
    </div>

    <!-- <div class=""><h3 class="roboto-condensed pt-3 m-6 text-lg"> Tailwindcss + Open Trivia API. </h3></div> -->
</section>

<div class="<% if (!infoForUser) { %> hidden <% } %>"><h2 class="bg-none libre-baskerville pt-3 m-6 text-red-700"> <%= infoForUser %> </h2></div>
<div class="<% if (infoForUser) { %> hidden <% } %>"><h2 class="bg-none libre-baskerville pt-3 m-6 text-red-700"> This is where you should put Trivia Icons when there is no infoForUser. </h2></div>


<form class="grid grid-cols-1 grid-rows-4 md:grid-cols-2 md:grid-rows-2" action='/questions' method='post' id='form'>

    <div class="<% if (infoForUser === "Please type a valid number of questions between 1 and 30.") { %> bg-red-200 pt-3 <% } else { %> bg-green-200 pt-3 <% } %>" >
        <label class="roboto-condensed m-6" for="numberOfQuestions">Number of Questions</label>
        <input class="max-w-none w-56 raleway rounded border-t border-r border-b border-l border-black block m-6 appearance-none px-2" type="text" value="" placeholder="1-30" name="numberOfQuestions" required>
        <p class="<% if (infoForUser !== "I'm sorry, but there are not enough questions for your particular request.") { %> hidden <% } %> bg-none libre-baskerville pt-3 m-6 text-red-700">Try less questions here.</p>
    </div>
    
    

    <div class="bg-blue-200 pt-5">
        <label class="roboto-condensed m-6" for="category">Category</label>

        <select class="max-w-none w-56 raleway rounded border-t border-r border-b border-l border-black block m-6" type="text" placeholder="Category" name="category">


            <optgroup label="Free-for-all">
                <option value="0">Free-For-All</option>
                <option value="9">General Knowledge</option>
            </optgroup>


            <optgroup label="Entertainment">
            
                <option value="10">Books</option>
                <option value="14">Television</option>
                <option value="15">Video Games</option>
                <option value="16">Board Games</option>
                <option value="26">Celebrities</option>
                <option value="29">Comics</option>
                <option value="31">Japanese Anime & Manga</option>
                <option value="32">Cartoon & Animations</option>

            </optgroup>


            <optgroup label="Arts">
                <option value="11">Film</option>
                <option value="12">Music</option>
                <option value="13">Theaters & Musicals</option>
                <option value="25">Art</option>
            </optgroup>


            <optgroup label="Science">
                
                <option value="17">Science & Nature</option>
                <option value="27">Animals</option>
                <option value="18">Computers</option>
                <option value="19">Math</option>
                <option value="30">Gadgets</option>

            </optgroup>
            

            <optgroup label="Liberal Arts">
                <option value="20">Mythology</option>
                <option value="22">Geography</option>
                <option value="23">History</option>
                <option value="24">Politics</option>
            </optgroup>


            <optgroup label="Extra">
                <option value="21">Sports</option>
                <option value="28">Vehicles</option>
            </optgroup>
            
        </select>
        
        <p class="libre-baskerville py-2 m-6 text-sm text-red-700"> <%= tryDifferentCategory %> </p>

    </div>
    

    <div class="bg-green-200 pt-5 md:bg-blue-200">
        <label class="roboto-condensed m-6" for="difficulty">Difficulty</label>

        <select class="max-w-none w-56 raleway rounded border-t border-r border-b border-l border-black block m-6" type="text" placeholder="Difficulty" name="difficulty">
            <option value="any">Any</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>

        <p class="libre-baskerville py-2 m-6 text-sm text-red-700"> <%= tryDifferentDifficulty %> </p>

    </div>
    

    <div class="bg-blue-200 pt-5 md:bg-green-200">
        <label class="roboto-condensed m-6" for="type">Type</label>

        <select class="max-w-none w-56 raleway rounded border-t border-r border-b border-l border-black block m-6" type="text" placeholder="Type" name="type">
            <option value="any">Any</option>
            <option value="multiple">Multiple Choice</option>
            <option value="boolean">True or False</option>
        </select>

        <p class="libre-baskerville py-2 m-6 text-sm text-red-700"> <%= tryDifferentType %> </p>

    </div>
    
    
    <button class="absolute logo-image libre-baskerville rounded border-t border-r border-b border-l border-blue-900 block p-1 m-6 text-blue-600" type="submit">Submit</button>

</form>

<%- include('partials/footer'); -%>