<%- include('partials/header'); -%>

<!-- HTML Pseudocode -->

<main class="bg-white">

<!-- Lobster 2 LogoHub - https://logohub.io/# -->

<h1 class="lobster-2 bg-blue-700 text-center py-2 text-white text-6xl"><span class="w-1 h-1 px-3 m-4 bg-teal-500 rounded">?</span>Quiz Pro Quo</h1>



<!-- <section class="bg-white">
    <div class="flex content-center bg-top">
        <img class="logo-image py-4" src="images/quiz!-via-logohub.png" alt="Quiz Pro Quo">
    </div>

    <div class=""><h3 class="libre-baskerville pt-3 m-16 text-xl text-lg"> Tailwindcss + Open Trivia API. </h3></div> -->
<!-- </section> -->


<div class="info-disappear <% if (!infoForUser) { %> hidden <% } %>"><h2 class="info-disappear bg-white libre-baskerville px-16 py-6 text-xl text-red-600"> <%= infoForUser %> </h2></div>
<div class="<% if (infoForUser) { %> hidden <% } %>"><h2 class="bg-white libre-baskerville p-6 text-xl text-red-600"> This is where you should put Trivia Icons when there is no infoForUser. </h2></div>


<form class="grid grid-cols-1 grid-rows-4" action='/questions' method='post' id='form'>

    <div class="bg-green-200 <% if (infoForUser === "Please type a valid number of questions between 1 and 25.") { %> bg-red-200 pt-3 <% } else { %> bg-white pt-3 <% } %>" >
        
        <label class="libre-baskerville m-16 text-xl" for="numberOfQuestions">Number of Questions</label>
        <input class="max-w-none w-56 raleway rounded border-2 border-solid <% if ((!infoForUser) || infoForUser === "All questions deleted.") { %> border-blue-800 mb-8 <% } else { %> border-red-500 <% } %> block mx-16 mt-6 appearance-none px-2" type="number" min="1" max="25" step="1" value="10" placeholder="1-25" name="numberOfQuestions" required>
        

        <p class="<% if (infoForUser !== "I'm sorry, but there are not enough questions for your particular request.") { %> hidden <% } %> bg-white libre-baskerville ml-16 mt-2 text-red-700">Try less questions here.</p>
        <!-- <img src="" alt="Icon/SVG related to topic here."> -->
    </div>
    
<!-- If screen size is mobile or small, use Select + 3 different divs. Else (medium and >), use radio buttons for Category (w/icons), Difficulty, Type. 1 div for Number, Difficulty, Type. 1 div for Category radio buttons -->

    <div class="bg-blue-200 pt-5">
        <label class="libre-baskerville m-16 text-xl" for="category">Category</label>


        <select class="max-w-none w-56 raleway rounded border-t border-r border-b border-l border-black block mx-16 mt-6 outline-none focus:border-teal-700 <% if (!tryDifferentCategory) { %> mb-8 <% } %>" type="text" placeholder="Category" name="category">


            <optgroup class="text-xl md:text-lg" label="Free-for-all">
                <option value="0">Free-For-All</option>
                <option value="9">General Knowledge</option>
            </optgroup>


            <optgroup class="text-xl md:text-lg" label="Entertainment">
            
                <option value="10">Books</option>
                <option value="14">Television</option>
                <option value="15">Video Games</option>
                <option value="16">Board Games</option>
                <option value="26">Celebrities</option>
                <option value="29">Comics</option>
                <option value="31">Japanese Anime & Manga</option>
                <option value="32">Cartoon & Animations</option>

            </optgroup>


            <optgroup class="text-xl md:text-lg" label="Arts">
                <option value="11">Film</option>
                <option value="12">Music</option>
                <option value="13">Theaters & Musicals</option>
                <option value="25">Art</option>
            </optgroup>


            <optgroup class="text-xl md:text-lg" label="Science">
                
                <option value="17">Science & Nature</option>
                <option value="27">Animals</option>
                <option value="18">Computers</option>
                <option value="19">Math</option>
                <option value="30">Gadgets</option>

            </optgroup>
            

            <optgroup class="text-xl md:text-lg" label="Liberal Arts">
                <option value="20">Mythology</option>
                <option value="22">Geography</option>
                <option value="23">History</option>
                <option value="24">Politics</option>
            </optgroup>


            <optgroup class="text-xl md:text-lg" label="Extra">
                <option value="21">Sports</option>
                <option value="28">Vehicles</option>
            </optgroup>
            
        </select>

        <p class="libre-baskerville text-sm ml-16 mt-2 text-red-700"> <%= tryDifferentCategory %> </p>

        <!-- <img src="" alt="Icon/SVG related to topic here."> -->

    </div>
    

    <div class="pt-5 bg-green-200">
        <label class=" libre-baskerville m-16 text-xl" for="difficulty">Difficulty</label>

        <select class=" max-w-none w-56 raleway rounded border-t border-r border-b border-l border-black block mx-16 mt-6 <% if (!tryDifferentDifficulty) { %> mb-8 <% } %>" type="text" placeholder="Difficulty" name="difficulty">
            <option class="text-xl md:text-lg" value="any">Any</option>
            <option class="text-xl md:text-lg" value="easy">Easy</option>
            <option class="text-xl md:text-lg" value="medium">Medium</option>
            <option class="text-xl md:text-lg" value="hard">Hard</option>
        </select>

        <p class="libre-baskerville text-sm ml-16 mt-2 text-red-700"> <%= tryDifferentDifficulty %> </p>

        <!-- <img src="" alt="Icon/SVG related to topic here."> -->

    </div>
    

    <div class="pt-5 bg-blue-200">
        <label class="libre-baskerville m-16 text-xl" for="type">Type</label>

        <select class="max-w-none w-56 raleway rounded border-t border-r border-b border-l border-black block mx-16 mt-6 <% if (!tryDifferentType) { %> mb-8 <% } %>" type="text" placeholder="Type" name="type">
            <option class="text-xl md:text-lg" value="any">Any</option>
            <option class="text-xl md:text-lg" value="multiple">Multiple Choice</option>
            <option class="text-xl md:text-lg" value="boolean">True or False</option>
        </select>

        <p class="libre-baskerville text-sm ml-16 mt-2 text-red-700"> <%= tryDifferentType %> </p>

        <!-- <img src="" alt="Icon/SVG related to topic here."> -->

    </div>

    <button class="button-expand absolute logo-image libre-baskerville rounded border-t border-r border-b border-l border-blue-900 block p-1 m-16 text-xl text-blue-600" type="submit">Submit</button>

</form>



</main>

<%- include('partials/footer'); -%>