<%- include('partials/header'); -%>

<!-- HTML Pseudocode -->

<h1 class="montserrat text-center py-8 text-green-700 text-4xl">Tailwind Trivia</h1>

<h3 class="roboto-condensed pt-3 m-6 text-lg"> Combining Tailwind with the Open Trivia API. </h3>

<h3 class="libre-baskerville pt-3 m-6 text-red-700"> <%= infoForUser %> </h3>

<form class="bg-green-100 flex-column" action='/questions' method='post' id='form'>

    
    <div class="<% if (infoForUser === "Please type a valid number of questions between 1 and 30.") { %> text-red-500 pt-3 <% } else { %> pt-3 <% } %>" >
        <label class="roboto-condensed m-6" for="numberOfQuestions">Number of Questions</label>
        <input class="raleway rounded border-t border-r border-b border-l border-black block m-6 appearance-none" type="text" value="5" min="1" max="20" placeholder="Number of questions" name="numberOfQuestions" required>
    </div>
    <hr>
    

    <div class="pt-5">
        <label class="roboto-condensed m-6" for="category">Category</label>

        <select class="raleway rounded border-t border-r border-b border-l border-black block m-6" type="text" placeholder="Category" name="category">


            <optgroup label="Free-for-all">
                <option value="0">Any</option>
                <option value="9">General Knowledge</option>
            </optgroup>


            <optgroup label="Entertainment">
            
                <option value="10">Books</option>
                <option value="14">Television</option>
                <option value="15">Video Games</option>
                <option value="16">Board Games</option>
                <option value="26">Celebrities</option>
                <option value="29">Comics</option>
                <option value="31">Japanese Anime & Manga</option>
                <option value="32">Cartoon & Animations</option>

            </optgroup>


            <optgroup label="Arts">
                <option value="11">Film</option>
                <option value="12">Music</option>
                <option value="13">Theaters & Musicals</option>
                <option value="25">Art</option>
            </optgroup>


            <optgroup label="Science">
                
                <option value="17">Science & Nature</option>
                <option value="27">Animals</option>
                <option value="18">Computers</option>
                <option value="19">Math</option>
                <option value="30">Gadgets</option>

            </optgroup>
            

            <optgroup label="Liberal Arts">
                <option value="20">Mythology</option>
                <option value="22">Geography</option>
                <option value="23">History</option>
                <option value="24">Politics</option>
            </optgroup>


            <optgroup label="Extra">
                <option value="21">Sports</option>
                <option value="28">Vehicles</option>
            </optgroup>
            
        </select>
        
        <p class="libre-baskerville py-2 m-6 text-sm text-red-700"> <%= tryDifferentCategory %> </p>

    </div>
    <hr>

    <div class="pt-5">
        <label class="roboto-condensed m-6" for="difficulty">Difficulty</label>

        <select class="raleway rounded border-t border-r border-b border-l border-black block m-6" type="text" placeholder="Difficulty" name="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>

        <p class="libre-baskerville py-2 m-6 text-sm text-red-700"> <%= tryDifferentDifficulty %> </p>
        
    </div>
    <hr>

    <div class="pt-5">
        <label class="roboto-condensed m-6" for="type">Type</label>

        <select class="raleway rounded border-t border-r border-b border-l border-black block m-6" type="text" placeholder="Type" name="type">
            <option value="any">Any</option>
            <option value="multiple">Multiple Choice</option>
            <option value="boolean">True or False</option>
        </select>

        <p class="libre-baskerville py-2 m-6 text-sm text-red-700"> <%= tryDifferentType %> </p>
        
    </div>
    <hr>
    
    <button class="libre-baskerville rounded border-t border-r border-b border-l border-blue-900 block p-1 m-6 text-blue-600" type="submit">Submit</button>

</form>

<%- include('partials/footer'); -%>