<%- include('partials/header'); -%>

<h1>Welcome to the Questions page!</h1>

<form action="/questions/delete" method='get'>
    <button type="submit">Delete All Questions</button>
</form>


<form action='/results' method='post' id='form'>

    <!-- <p> Number of Questions: <%= response[0].totalQuestions %> </p> -->

    <% for (let index = 0; index < response.length; index++) { %>

        <div class="question" style="display: block;">
            <p> <%= response[index].questionCategory %> </p>

            <!-- if else EJS syntax courtesy of Stack Overflow. Trivia Logic is mine. -->
            <% if (response[index].questionType === 'boolean') { %>
                <p> True or False? </p>
            <% } else { %>
                <p> Multiple Choice </p>
            <% } %>


            <p> <%= response[index].questionDifficulty %> </p>
            <p> <%= response[index].question %> </p>
            

            <!-- Allow only 1 Radio Button to be Checked = https://stackoverflow.com/questions/5419459/how-to-allow-only-one-radio-button-to-be-checked#:~:text=Only%201%20radio%20button%20of,same%20name%20can%20be%20checked.&text=Give%20them%20the%20same%20name%2C%20and%20it%20will%20work.,check%20boxes%20can%20have%20many.&text=Just%20give%20them%20the%20same%20name%20throughout%20the%20form%20you%20are%20using. -->
            <input type="radio" value="<%= response[index].correctAnswer %>" name= <%= index %> > <%= response[index].correctAnswer %> </input>
            
            <% if (response[index].questionType === 'boolean') { %>

                <input type="radio" value="<%= response[index].incorrectAnswers[0] %>" name="<%= index %>"><%= response[index].incorrectAnswers[0] %></input>
             
            <% } else { %>

                <input type="radio" value="<%= response[index].incorrectAnswers[0] %>" name= "<%= index %>"> <%= response[index].incorrectAnswers[0] %> </input>
                <input type="radio" value="<%= response[index].incorrectAnswers[1] %>" name= "<%= index %>"> <%= response[index].incorrectAnswers[1] %> </input>
                <input type="radio" value="<%= response[index].incorrectAnswers[2] %>" name= "<%= index %>"> <%= response[index].incorrectAnswers[2] %> </input>

            <% } %>

        </div>

        <hr>

    <% } %>

    <button type="submit">Submit All Answers</button>

</form>



<%- include('partials/footer'); -%>