<%- include('partials/header'); -%>

<!-- <div class="bg-indigo-500">
    <nav class="sticky inset-0 h-auto max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
        <ul class="flex flex-row">
            <% for (let i = 0; i < ejsResponse.length; i++) { %>

                <li class="p-2 raleway border-2 rounded w-auto
                    <% if (savedUserResponse[i] && savedUserResponse) { %>
                        bg-green-100 text-green-700 border-green-700
                    <% } else if (!savedUserResponse[i] && savedUserResponse) { %>
                        bg-red-100 text-red-700 border-red-700
                    <% } else { %>
                        border-2 rounded bg-white border-blue-<%=(((i % 4) + 4) * 100)%> text-blue-<%=(((i % 4) + 4) * 100)%>
                    <% } %>
                    
                    <% if ((i+1) < 10) { %>
                        anchor-1
                    <% } else { %>
                        anchor-2
                    <% } %>">
                <a href=#<%=(i+1)%>>Question <%=(i+1)%></a></li>

            <% } %>
        </ul>
    </nav>
</div> -->

<h1 class="roboto-condensed text-center bg-indigo-700 text-white text-6xl py-2 sticky top-0 z-50"> <%= category %> </h1>
<!-- <h1 class="merienda text-center bg-indigo-500 text-white text-6xl py-2 top-0"><%= category %><span class="w-1 h-1 px-3 m-4 bg-teal-500 rounded">!</span></h1> -->


<div class="trivia-appear question-navbar justify-center flex flex-row sticky z-40 mb-4 mx-6 bg-white">

    <p class="opacity-0 lg:opacity-100 rounded-full absolute left-0 lobster-2 bg-blue-600 text-center p-2 mx-2 mt-2 mb-6 text-white text-2xl"><span class="w-1 h-1 px-3 m-4 bg-teal-500 rounded">?</span>Quiz Pro Quo</p>

    <p class="border-r-2 sm:border-b-2 sm:border-r-0 border-green-800 dotted libre-baskerville my-4 mx-1 px-1 sm:px-0 m-4 text-green-800">Number of Questions: <%= numberOfQuestions %></p>

    <form action="/questions/delete" method='get'>
        <button class="button-emphasize raleway text-center p-2 m-2 sm:ml-8 border-2 border-red-400 rounded text-red-400"type="submit">Delete Quiz</button>
    </form>


    <form action="/questions" method='get'>
        <button class="button-emphasize raleway text-center p-2 m-2 sm:ml-8 border-2 rounded border-blue-400 text-blue-400" type="submit">Refresh Page</button>
    </form>

</div>

<p class="libre-baskerville p-2 mt-4 mb-8 text-red-800 text-xl rounded-full mx-6 px-5 py-5 bg-red-300<% if (!pleaseAnswerEveryQuestion) { %>
    hidden
<% } %>"><%= pleaseAnswerEveryQuestion %></p>

<!-- Save SVGs/Images for each possible topic. Use EJS to determine the URL. -->

<form action='/results' method='post' id='form'>

    <%- include('partials/trivia_round'); -%>

    <button type="submit" class="question-button libre-baskerville border-2 text-2xl border-blue-600 rounded p-3 my-6 text-blue-600">Submit All Answers</button>

</form>

<%- include('partials/footer'); -%>