<%- include('partials/header'); -%>

<h1>Welcome to the Questions page!</h1>

<!-- for (i = 0; i++; i < questions_length) { -->

    <!-- <p> `Question ${i+1}</p> -->
<p> <%= questionCategory %> </p>
<p> <%= questionType %> </p>
<p> <%= questionDifficulty %> </p>
<p> <%= question %> </p>
<p> <%= correctAnswer %> </p>
<p> <%= incorrectAnswers %> </p>

<!-- } -->

<%- include('partials/footer'); -%>