<%- include('partials/header'); -%>

<h1>Welcome to the Questions page!</h1>


<form action='/results' method='post' id='form'>

    <% for (let index = 0; index < response.length; index++) { %>

        <div class="question" style="display: block;">
            <p> <%= response[index].questionCategory %> </p>

            <!-- if else EJS syntax courtesy of Stack Overflow. Trivia Logic is mine. -->
            <% if (response[index].questionType === 'boolean') { %>
                <p> True or False? </p>
            <% } else { %>
                <p> Multiple Choice </p>
            <% } %>
            

            <p> <%= response[index].questionDifficulty %> </p>
            <p> <%= response[index].question %> </p>
            
            <input type="radio"> <%= response[index].correctAnswer %> </input>
            
            <% if (response[index].questionType === 'boolean') { %>

                <input type="radio"><%= response[index].incorrectAnswers[0] %></input>
             
            <% } else { %>

                <input type="radio"> <%= response[index].incorrectAnswers[0] %> </input>
                <input type="radio"> <%= response[index].incorrectAnswers[1] %> </input>
                <input type="radio"> <%= response[index].incorrectAnswers[2] %> </input>

            <% } %>

        </div>

        <hr>

    <% } %>

</form>



<%- include('partials/footer'); -%>

