<%- include('partials/header'); -%>

<main class="">

<!-- <div class="bg-indigo-500">
    <nav class="sticky inset-0 h-auto max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
        <ul class="flex flex-row">
            <% for (let i = 0; i < ejsResponse.length; i++) { %>

                <li class="p-2 raleway border-2 rounded w-auto
                    <% if (savedUserResponse[i] && savedUserResponse) { %>
                        bg-green-100 text-green-700 border-green-700
                    <% } else if (!savedUserResponse[i] && savedUserResponse) { %>
                        bg-red-100 text-red-700 border-red-700
                    <% } else { %>
                        border-2 rounded bg-white border-blue-<%=(((i % 4) + 4) * 100)%> text-blue-<%=(((i % 4) + 4) * 100)%>
                    <% } %>
                    
                    <% if ((i+1) < 10) { %>
                        anchor-1
                    <% } else { %>
                        anchor-2
                    <% } %>">
                <a href=#<%=(i+1)%>>Question <%=(i+1)%></a></li>

            <% } %>
        </ul>
    </nav>
</div> -->

<!-- <h1 class="lobster-2 text-center bg-blue-700 text-white text-6xl py-2 top-0"> <%= category %> </h1> -->
<h1 class="lobster-2 text-center bg-indigo-500 text-white text-6xl py-2 top-0"><%= category %><span class="w-1 h-1 px-3 m-4 bg-teal-500 rounded">!</span></h1>


<div class="flex">
    <form action="/questions/delete" method='get'>
        <button class="raleway text-center p-2 m-2 border-2 border-red-400 rounded text-red-400"type="submit">Delete Quiz</button>
    </form>


    <form action="/questions" method='get'>
        <button class="raleway text-center p-2 m-2 border-2 rounded border-blue-400 text-blue-400" type="submit">Refresh Page</button>
    </form>

</div>


<p class="libre-baskerville py-2 m-6 text-red-700 text-2xl <% if (!pleaseAnswerEveryQuestion) { %>
    hidden
<% } %>"><%= pleaseAnswerEveryQuestion %></p>

<p class="libre-baskerville p-2 m-6 text-green-800">Number of Questions: <%= numberOfQuestions %></p>


<!-- Save SVGs/Images for each possible topic. Use EJS to determine the URL. -->

<form action='/results' method='post' id='form'>

    <%- include('partials/trivia_round'); -%>

    <button type="submit" class="libre-baskerville border-black block pt-3 m-6 text-blue-600">Submit All Answers</button>

</form>

</main>

<%- include('partials/footer'); -%>