<%- include('partials/header'); -%>

<h1 class="montserrat text-center text-blue-800 text-6xl">Welcome to the Results page!</h1>

<div class="flex sticky top-0">

    <form class="bg-green-100" action="/results" method='get'>
        <button class="raleway text-center p-8 text-red-400"type="submit">No Results?</button>
    </form>

    <form class="bg-blue-100" action="/results/hidden" method='get'>
        <button class="raleway text-center m-6 p-2 <% if (hideAllCorrectAnswers === "hide") { %> disabled hidden<% } else { %> text-green-500 <% } %>" type="submit">Hide Answers</button>
    </form>

    <form class="bg-blue-100" action="/results/reveal" method='get'>
        <button class="raleway text-center m-6 p-2 <% if (hideAllCorrectAnswers !== "hide") { %> disabled hidden<% } else { %> text-green-500 <% } %>"type="submit">Reveal Answers</button>
    </form>

    <form class="bg-green-100" action="/questions" method='get'>
        <button class="font-sans text-center p-8 text-red-400"type="submit">Retry Round</button>
    </form>

    <form class="bg-blue-100" action="/questions/delete" method='get'>
        <button class="font-sans text-center p-8 text-red-400"type="submit">New Round</button>
    </form>

</div>
 
<h1 class="roboto-condensed m-6 <% if (typeof(response[response.length - 1].yourCorrectQuestions) !== "number" || typeof(numberOfQuestions) !== "number") { %> disabled hidden<% } %>"> 
    You answered <span class="roboto-condensed text-green-500"><%= response[response.length - 1].yourCorrectQuestions %>
    </span> / <span class="roboto-condensed text-blue-500"><%= numberOfQuestions %></span> correctly. </h1>

<p class="roboto-condensed ml-6 py-2"> Your Score = <%= response[response.length - 1].yourPointsEarned %></p>
<p class="roboto-condensed ml-6 py-2"> Total Points Possible = <%= response[0].totalPointsPossible %> </p>
<p class="roboto-condensed ml-6 py-2 <% if (isNaN(percent_correct)) { %> hidden<% } %>"><%= percent_correct %>%</p>

<% for (let index = 1; index < response.length - 1; index++) { %>

<div class="">
    <p class="libre-baskerville text-green-800 ml-6 py-2"> Question <%= response[index].question_number %> </p>
    <p class="roboto-condensed text-blue-700 ml-6 py-2"> Points Earned: <%= response[index].points_earned %> </p>
    <p class="roboto-condensed text-purple-700 ml-6 py-2"> Points Possible: <%= response[index].points_possible %> </p>
    <p class="libre-baskerville text-orange-900 ml-6 py-2 block"> <%= response[index].accuracy %></p>
    <p class="libre-baskerville text-orange-900 ml-6 py-2 block"> <%= response[index].result %> </p>
    <p class="libre-baskerville text-orange-900 ml-6 py-2 block <% if (hideAllCorrectAnswers === "hide") { %> hidden bg-blue-500 <% } %>"><%= response[index].correct_result %></p>
    <hr class="mt-2 mb-10">
</div>

<% } %>

<%- include('partials/footer'); -%>