<%- include('partials/header'); -%>

<main class="">

<h1 class="roboto-condensed text-center bg-blue-700 text-white text-6xl">Results</h1>

<!-- SVGs/Icons turn green if correct, else red incorrect. -->

<!-- <div class="score flex flex-col justify-center">
    <div class="">
        <h2 class="roboto-condensed m-6 text-lg <% if (typeof(response[response.length - 1].yourPointsEarned) !== "number" || typeof(response[0].totalPointsPossible) !== "number") { %> disabled hidden<% } %>"> 
                Final Score: <span class="roboto-condensed text-green-500"><%= response[response.length - 1].yourPointsEarned %>
                </span> / <span class="roboto-condensed text-blue-500"><%= response[0].totalPointsPossible %></span></h2>
    </div>
    <div>
        <p class="text-lg roboto-condensed p-2 text-green-500 border-2 border-green-500 rounded <% if (isNaN(percent_correct)) { %> hidden<% } %>"><%= percent_correct %>%</p>
    </div>
</div> -->


<div class="grid grid-cols-2 md:align-middle md:justify-center md:flex md:flex-row sticky bottom-0 bg-white ml-4 my-8">

    <form class="" action="/results" method='get'>
        <button class="results-button button-emphasize raleway text-center p-2 my-2 mx-8 border-2 border-blue-400 rounded text-blue-400"type="submit">No Results?</button>
    </form>

    <% if (hideAllCorrectAnswers !== "hide") { %> 

        <form class="" action="/results/hidden" method='get'>
            <button class="results-button button-emphasize raleway text-center p-2 my-2 mx-8 border-2 border-blue-400 rounded text-blue-400" type="submit">Hide Answers</button>
        </form>

    <% } else { %> 

        <form class="" action="/results/reveal" method='get'>
            <button class="results-button button-emphasize raleway text-center p-2 my-2 mx-8 border-2 border-green-400 rounded text-green-400"type="submit">Reveal Answers</button>
        </form>

    <% } %>

    <form class="" action="/questions" method='get'>
        <button class="results-button button-emphasize raleway text-center p-2 my-2 mx-8 border-2 rounded border-red-400 text-red-400"type="submit">Retry Round</button>
    </form>

    <form class="" action="/questions/delete" method='get'>
        <button class="results-button button-emphasize raleway text-center p-2 my-2 mx-8 border-2 rounded border-red-400 text-red-400"type="submit">New Round</button>
    </form>

</div>


<section class="ml-6 mr-6 md:grid grid-cols-2 gap-8">

    <% for (let index = 1; index < ejsResponse.length + 1; index++) { %>

    <div class="border-2 rounded <% if (response[index].accuracy === `Correct!`) { %> border-green-500 text-green-600 <% } else { %> border-red-500 text-red-600 <% } %>">
        <p class="libre-baskerville text-xl ml-6 py-2"> Question <%= response[index].question_number %> </p>

        <!-- <img src="" alt="Icon/SVG related to topic here."> -->

        <p class="roboto-condensed text-lg text-blue-700 ml-6 py-2"> Points Earned: <%= response[index].points_earned %>
        <span class=" roboto-condensed text-purple-700 ml-6 py-2"> Points Possible: <%= response[index].points_possible %> </span></p>
        <!-- <table>
            <tr>
                <th>Your Answer</th>
                <th>Correct Answer</th>
            </tr>
            <tr>
                <td class="roboto-condensed text-gray-800 ml-6 py-2 block"><%= response[index].result %></td>
                <td class="roboto-condensed text-gray-800 ml-6 py-2 block <% if (hideAllCorrectAnswers === "hide") { %> hidden bg-blue-500 <% } %>"><%= response[index].correct_result %></td>
            </tr>
        </table> -->
        
        <p class="roboto-condensed ml-6 py-2 block"> <span class="text-gray-800">Your Answer: </span><%= response[index].result %> </p>
        <p class="roboto-condensed text-green-600 ml-6 py-2 block <% if (hideAllCorrectAnswers === "hide") { %> hidden bg-blue-500 <% } %>"><span class="text-gray-800">Correct Answer: </span><%= response[index].correct_result %></p>
        
    </div>

    <% } %>

    <hr class="my-5 min-w-full max-w-full">

</section>

<% if (hideAllCorrectAnswers !== "hide") { %> 

    <!-- <h1>Your Answers</h1> -->

    <!-- include('partials/trivia_results'); <%- -%> -->

<% } %> 

</main>

<%- include('partials/footer'); -%>