<%- include('partials/header'); -%>

<h1>Welcome to the Results page!</h1>


<p> <%= numberQuestions %> </p>
<p> <%= category %> </p>
<p> <%= difficulty %> </p>
<p> <%= type %> </p>


<p> <%= questionCategory %> </p>
<p> <%= questionType %> </p>
<p> <%= questionDifficulty %> </p>
<p> <%= question %> </p>
<p> <%= correctAnswer %> </p>
<p> <%= incorrectAnswers %> </p>

<%- include('partials/footer'); -%>

