<%- include('partials/header'); -%>

<main class="">

<h1 class="merienda text-center bg-blue-200 text-blue-800 text-6xl">Results</h1>

<!-- SVGs/Icons turn green if correct, else red incorrect. -->

<div class="flex sticky top-0 bg-white">

    <form class="" action="/results" method='get'>
        <button class="raleway text-center p-2 m-2 border-2 border-blue-400 rounded bg-green-100 text-blue-400"type="submit">No Results?</button>
    </form>

    <form class="" action="/results/hidden" method='get'>
        <button class="raleway text-center p-2 m-2 border-2 border-blue-400 rounded bg-green-100 text-blue-400 <% if (hideAllCorrectAnswers === "hide") { %> disabled hidden<% } else { %> text-green-500 <% } %>" type="submit">Hide Answers</button>
    </form>

    <form class="" action="/results/reveal" method='get'>
        <button class="raleway text-center p-2 m-2 border-2 border-green-400 rounded bg-blue-100 text-green-400 <% if (hideAllCorrectAnswers !== "hide") { %> disabled hidden<% } else { %> text-green-500 <% } %>"type="submit">Reveal Answers</button>
    </form>

    <form class="" action="/questions" method='get'>
        <button class="font-sans text-center p-2 m-2 border-2 rounded border-red-400 text-red-400"type="submit">Retry Round</button>
    </form>

    <form class="" action="/questions/delete" method='get'>
        <button class="font-sans text-center p-2 m-2 border-2 rounded border-red-400 text-red-400"type="submit">New Round</button>
    </form>

</div>

<div class=" flex">
    <h1 class="roboto-condensed m-6 text-6xl <% if (typeof(response[response.length - 1].yourCorrectQuestions) !== "number" || typeof(numberOfQuestions) !== "number") { %> disabled hidden<% } %>"> 
        Final Score: <span class="roboto-condensed text-green-500"><%= response[response.length - 1].yourCorrectQuestions %>
        </span> / <span class="roboto-condensed text-blue-500"><%= numberOfQuestions %></span></h1>
    <p class="text-6xl roboto-condensed p-2 m-6 text-green-500 border-2 border-green-500 rounded <% if (isNaN(percent_correct)) { %> hidden<% } %>"><%= percent_correct %>%</p>
</div>

<div class="flex">
    <p class="roboto-condensed ml-6 py-2 text-2xl"> Your Score = <%= response[response.length - 1].yourPointsEarned %></p>
    <p class="roboto-condensed ml-6 py-2 text-2xl"> Total Points Possible = <%= response[0].totalPointsPossible %> </p>
</div>


<% for (let index = 1; index < response.length - 1; index++) { %>

<div class="">
    <p class="libre-baskerville text-green-800 ml-6 py-2"> Question <%= response[index].question_number %> </p>

    <!-- <img src="" alt="Icon/SVG related to topic here."> -->

    <p class="roboto-condensed text-blue-700 ml-6 py-2"> Points Earned: <%= response[index].points_earned %> </p>
    <p class=" roboto-condensed text-purple-700 ml-6 py-2"> Points Possible: <%= response[index].points_possible %> </p>
    <!-- <p class="libre-baskerville text-orange-900 ml-6 py-2 block"> <%= response[index].accuracy %></p> -->
    <p class="libre-baskerville text-blue-600 ml-6 py-2 block"> <%= response[index].result %> </p>
    <p class="libre-baskerville text-green-600 ml-6 py-2 block <% if (hideAllCorrectAnswers === "hide") { %> hidden bg-blue-500 <% } %>"><%= response[index].correct_result %></p>
    <hr class="mt-2 mb-10">
</div>

<% } %>

</main>

<%- include('partials/footer'); -%>