<%- include('partials/header'); -%>

<h1 class="cookie text-center text-blue-800 text-6xl">Welcome to the Results page!</h1>

<!-- <h1> `You got ${correct_answers} correct out of ${total_questions}` </h1> -->

<!-- switch (percent_correct) -->
<!-- case (percent_correct <= 50%) {res.render("Try again next time!")} -->
<!-- case (50% < percent_correct <= 70%) {res.render("Nice! Try to beat your score next time!")} -->

<!-- case (70% < percent_correct <= 80%) {res.render("Good job!")} -->

<!-- case (80% < percent_correct <= 90%) {res.render("Very great job!")} -->
<!-- case (90% < percent_correct < 100%) {res.render("Wow! Close to perfect!")} -->
<!-- case (percent_correct === 100%) {res.render("Wow! 100%!")} -->
<!-- default res.render("Would you like to try again?") -->

<!-- for (i = 0; i++; i < questions_length) { -->

    <!-- <p> `Question ${i+1}</p> -->

<form action="/questions/delete" method='get'>
    <button class="font-sans text-center p-8 text-red-400"type="submit">Delete All Questions</button>
</form>

<form action="/questions" method='get'>
    <button class="font-sans text-center p-8 text-red-400"type="submit">Retry Trivia Round</button>
</form>

<p>Your Correct Number of Questions: <%= response[response.length - 1].yourCorrectQuestions %></p>
<p>Number of Questions: <%= numberOfQuestions %></p>
<p class="ml-2 py-2"> Your Score = <%= response[response.length - 1].yourPointsEarned %></p>
<p class="ml-2 py-2"> Total Points Possible = <%= response[0].totalPointsPossible %> </p>

<% for (let index = 1; index < response.length - 1; index++) { %>

<div class="" style="display: block;">
    <p class="text-green-800 ml-2 py-2"> Question <%= response[index].question_number %> </p>
    <p class="text-blue-700 ml-2 py-2"> Points Earned: <%= response[index].points_earned %> </p>
    <p class="text-purple-700 ml-2 py-2"> Points Possible: <%= response[index].points_possible %> </p>
    <p class="text-orange-900 ml-2 py-2"> <%= response[index].result %> </p>
    <hr class="mt-2 mb-10">
</div>

<% } %>

<!-- } -->


<!-- for (i = 0; i++; i < questions_length) { -->
    
<!-- <div>`You wrote ${user_answer}</div> <div>The correct answer was ${correct_answer}`</div> -->

<!-- } -->

<%- include('partials/footer'); -%>